<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Store and Redirect</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
            const Authorization = /*[[${Authorization}]]*/ 'default message';
            const Url = /*[[${Url}]]*/ 'default message';
        /*]]>*/
    </script>
  <script>
        window.onload = function() {
<!--            localStorage.setItem("Authorization", Authorization);-->
<!--            location.href=Url;-->

<!--            window.parent.postMessage({ Authorization : Authorization });-->
            window.opener.postMessage({ Authorization : Authorization }, Url);
            window.close();
        }
    </script>
</head>
<body>
</body>
</html>