.body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}
.body::-webkit-scrollbar-thumb {
  background-color: #ff9633;
  border-radius: 10px;
}
.body::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 10px;
}

.body::-webkit-scrollbar {
  display: none;
}
